footer.footer 
	.container 
		.footer-top 
			.footer-column 
				a(href="index.html").footer-heading.footer-heading--logo MoGo 
				p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque itaque facilis error voluptate quidem. Natus ab consectetur error a consequatur, vero assumenda. Animi voluptate odio error dolores, consequatur deleniti labore.
				p.footer-follower <strong>15k</strong> followers 
				.footer-social 
					span.text Follow Us: 
					.footer-social-list 
						a.footer-social-icon(href="#")
							i.fab.fa-facebook-f
						a.footer-social-icon(href="#")
							i.fab.fa-twitter
						a.footer-social-icon(href="#")
							i.fab.fa-instagram
						a.footer-social-icon(href="#")
							i.fab.fa-pinterest
						a.footer-social-icon(href="#")
							i.fab.fa-youtube
						
				form.footer-form(action="javascrit:void(0)")
					input(type="email" placeholder="Your Email").footer-form-input
					button.footer-form-button Subscribe
			.footer-column 
				h3.footer-heading blog
				a(href="#").footer-blog 
					img.footer-blog-image(src="https://images.unsplash.com/photo-1611162617213-7d7a39e9b1d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80")
					.footer-blog-info 
						.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
						span.footer-blog-time.text--light Jan 9, 2016
				a(href="#").footer-blog 
					img.footer-blog-image(src="https://images.unsplash.com/photo-1510511336377-1a9caa095849?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
					.footer-blog-info 
						.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
						span.footer-blog-time.text--light Jan 9, 2016
				a(href="#").footer-blog 
					img.footer-blog-image(src="https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
					.footer-blog-info 
						.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
						span.footer-blog-time.text--light Jan 9, 2016
			.footer-column 
				h3.footer-heading Instagram 
				.footer-images 
					.footer-image
						img(src="./images/img-instagram1.png")
					.footer-image
						img(src="./images/img-instagram1.png")
					.footer-image
						img(src="./images/img-instagram1.png")
					.footer-image
						img(src="./images/img-instagram1.png")
					.footer-image
						img(src="./images/img-instagram1.png")
					.footer-image
						img(src="./images/img-instagram1.png")
					.footer-image
						img(src="./images/img-instagram1.png")
					.footer-image
						img(src="./images/img-instagram1.png")
					.footer-image
						img(src="./images/img-instagram1.png")
				a(href="#").footer-images-more.text.text--light View more photos
		.footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>