section.service 
	.container 
		+blockBox("We work with", "Amazing Services")
		.service-container 
			.service-list
				+serviceItem("./images/img-service-icon1.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Est error commodi vel ab porro in asperiores quaerat tempore nemo.?")
				+serviceItem("./images/img-service-icon2.png","Web Design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Est error commodi vel ab porro in asperiores quaerat tempore nemo.?")
				+serviceItem("./images/img-service-icon3.png","Creativity","Lorem ipsum dolor sit amet consectetur adipisicing elit. Est error commodi vel ab porro in asperiores quaerat tempore nemo.?")
			.service-list
				+serviceItem("./images/img-service-icon1.png","SEO","Lorem ipsum dolor sit amet consectetur adipisicing elit. Est error commodi vel ab porro in asperiores quaerat tempore nemo.?")
				+serviceItem("./images/img-service-icon2.png","CSS/HTML","Lorem ipsum dolor sit amet consectetur adipisicing elit. Est error commodi vel ab porro in asperiores quaerat tempore nemo.?")
				+serviceItem("./images/img-service-icon3.png","Digital","Lorem ipsum dolor sit amet consectetur adipisicing elit. Est error commodi vel ab porro in asperiores quaerat tempore nemo.?")
				
		