section.wedo 
	.container 
		+blockBox("Service","What we do","Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. ")
		.wedo-container 
			img(src="../../images/img-wedo.png").wedo-image
			.wedo-content 
				+wedoItem("../../images/img-wedo-icon1.png","PhotographyPhotographyPhotographyPhotographyPhotography","fal fa-angle-down","Lorem ipsum dolor sit amet, consectetur adipisicing elit.Expedita voluptatibus accusantium ad a fuga similique sequi?Lorem ipsum dolor sit amet, consectetur adipisicing elit.Expedita voluptatibus accusantium ad a fuga similique sequi?Lorem ipsum dolor sit amet, consectetur adipisicing elit.Expedita voluptatibus accusantium ad a fuga similique sequi?Lorem ipsum dolor sit amet, consectetur adipisicing elit.Expedita voluptatibus accusantium ad a fuga similique sequi?","is-active")
				+wedoItem("../../images/img-wedo-icon2.png","Creative","fal fa-angle-down","Lorem ipsum dolor sit amet, consectetur adipisicing elit.Expedita voluptatibus accusantium ad a fuga similique sequi?")
				+wedoItem("../../images/img-wedo-icon3.png","Web design","fal fa-angle-down","Lorem ipsum dolor sit amet, consectetur adipisicing elit.Expedita voluptatibus accusantium ad a fuga similique sequi?")
				
				//-accordion