section.work 
	.container 
		+blockBox("What we do", "Some of our work", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius sequi eum earum, officiis voluptatum laudantium, quidem mollitia deleniti recusandae ipsum perferendis unde delectus architecto temporibus. Officia repellendus voluptates quisquam cumque.")
	.work-list 
		.work-column 
			+workItem
			+workItem("./images/img-work2.png","fa fa-cog", "Frontend Developer")
			
		.work-column 
			+workItem("./images/img-work3.png","fa fa-cog", "Frontend Developer")
			+workItem("./images/img-work4.png","fa fa-cog", "Frontend Developer")
		.work-column 
			+workItem("./images/img-work5.png","fa fa-home", "Backend Developer", "work-item--full")
		.work-column 
			+workItem("./images/img-work6.png","fa fa-cog", "Frontend Developer")
			+workItem("./images/img-work7.png","fa fa-cog", "Frontend Developer")